/.web-server-pid
/build/
/phpunit.xml
/var/*
!app/cache
app/cache/*
!app/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
